/*
Aufgabe: 10
Name: Kuenz,Linus
Matrikel: 256331
Datum: 03.01.2018
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

body {
	font-family: Arial;
}

fieldset {
	width: 50%;
	height: 200px;
	border: 2px solid #1c7816;
}

input:invalid {
	background: #5c9965;
}
input:valid {
	background: white;
}

input[type="radio"], input[type="checkbox"],input[type="text"] {
	display: block;

}