/*
Aufgabe: 10
Name: Kuenz,Linus
Matrikel: 256331
Datum: 03.01.2018
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/
body {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	background-color: #8d8d8d;
}

header {
	margin-top: -10em;
	margin-left: -1em;
	background-color: #135810;
	box-shadow: 0px 0px 20px 0px #000000;
	margin-bottom: 1em;
	text-align: center;
	height: 8em;
	width: 105%;
	position: fixed;
}

h1 {
	font-size: 3em;
	padding-top: 0.6em;
}

h2 {
	font-weight: bold;
	font-size: 1.8em;
	color: #135810;
	text-decoration: underline;
	margin: 0.5em;
	margin-top: 0em;
}

div {
	width: 50%;
	border: 4px solid #135810;
	border-radius: 20px;
	margin: 4px;
	margin-bottom: 0.5em;
	box-shadow: 0px 0px 5px 0px #000000;
	background-color: #e9e9e9;
}

#korb {
	float: right;
	width: 20%;
	border: 4px solid #135810;
	box-shadow: 0px 0px 5px 0px #000000;
	margin-right: 4em;
	margin-top: -1em;
}

input {
	border: 2px solid black;
	border-radius: 10px;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

input:invalid {
	background: #7c1d1d;
}

input:valid {
	background: #135810;
}

input[type="radio"], input[type="checkbox"], input[type="text"] {
	display: block;
}

label {
	margin-left: 1em;
	margin-bottom: 1em;
}

label01 {
	margin-left: 1em;
	margin-bottom: 1em;
}

label02 {
	margin-left: 1em;
	margin-bottom: 1em;
}

#baum {
	margin-top: 10em;
}

select {
	background: #135810;
	border: 2px solid black;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

p {
	margin-left: 1em;
}