/*
Aufgabe: 10
Name: Kuenz,Linus
Matrikel: 256331
Datum: 03.01.2018
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

body {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	background-color: #303030;
}

header {
	margin-top: -1.3em;
	margin-left: -1em;
	background-color: #135810;
	border-bottom: 4px solid black;
	margin-bottom: 1em;
	text-align: center;
	height: 5em;
}

h2 {
	font-weight: bold;
	font-size: 1.8em;
	color: #135810;
	text-decoration: underline;
	margin: 0.5em;
	margin-top: 0em;
}

div {
	width: 50%;
	height: 300px;
	border: 4px solid #135810;
	border-radius: 20px;
	margin: 2px;
}

input:invalid {
	background: #5c9965;
}
input:valid {
	background: white;
}

input[type="radio"], input[type="checkbox"],input[type="text"] {
	display: block;

}