/*
Aufgabe: Semesteraufgabe
Name: Kuenz,Linus
Matrikel: 256331
Datum: 14.02.18
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/
body {
	text-align: center;
	background-color: #909090;
}

h1 {
	font-family: 'Monoton', cursive;
	color: #B91A1A;
	font-size: 3em;
	margin: -0.1em;
	padding: 0.0em;
}

h2 {
	font-family: 'Monoton', cursive;
	color: #B91A1A;
	background-color: #909090;
	opacity: 0.7;
	position: absolute;
	font-size: 3em;
	align: center;
}